@charset "UTF-8";
/*尾部样式开始*/


.footer{
    width:100%;
    height: 500px;
    margin-top: 200px;
    background-color:#EAEAEA;
    overflow: hidden;
}
.footer_top{
    height:102px;
    border-bottom: 1px solid #E3E3E3;
}
.footer_top .box ul{
    margin-left: 36px;
    padding-top: 30px;
}
.footer_top .box ul li{
    width: 208px;
    height: 42px;
    line-height:42px;
    text-align: center;
    float: left;
    position: relative;
    margin-right: 90px;
}
.footer_top .box ul li h5{
    display: inline-block;
    width: 36px;
    height: 42px;
    background: url("../img/ico_service.png") no-repeat;
    position: absolute;
    top:0;
    left:0;
}
.footer_top .box ul li span{
    font-family:'微软雅黑';
    font-size: 18px;
    font-weight:700;
    color: #444444;
    position: absolute;
    top:0;
    left:45px;
}
.footer_top .box ul li:nth-child(2) h5{
    background-position: 0 -43px;
}
.footer_top .box ul li:nth-child(3) h5{
    background-position: 0 -86px;
}
.footer_top .box ul li:nth-child(4) h5{
     background-position: 0 -129px;
 }
.footer_middle{
    height: 160px;
    border-bottom:1px solid #E3E3E3;
    padding:20px 0;
}
.help_list{
    width: 198px;
    height:160px;
    float: left;
}
.help_list h5{
    font-size: 14px;
    font-family:"微软雅黑";
    margin-bottom: 8px;
}
.help_list ul li{
    line-height:22px;
}
.help_list ul li a{
    font-family:"微软雅黑";
    font-size: 12px;
    font-weight:500;
}
.help_list ul li a:hover{
    color: #DB192A;
}
.cover{
    width:200px;
    height: 146px;
    float: right;
    background: url("../img/ico_footer.png") no-repeat ;
    text-align: left;
}
.cover h5{
    text-align: center;
    font-size: 14px;
    font-family:"微软雅黑";
    margin-bottom: 8px;
}
.cover p{
    font-size: 12px;
    font-family:'微软雅黑';
    line-height: 20px;
}
.cover a{
    float: right;
    font-size: 12px;
    font-family:'微软雅黑';
}
.cover a:hover{
    color: #DB192A;
}
.copyright{
    padding:15px 0;
    text-align: center;
}
.copyright_link a {
    font-size:12px;
    font-family:'微软雅黑';
}
.copyright_link a:hover{
    color: #DB192A;
}
.copyright_link span{
    color: #DAD3CC;
}
.copyright_text{
    margin-top: 10px;
}
.copyright_text p{
    font-size: 12px;
    font-family:"微软雅黑";
    color: #999999;
    line-height:20px;
}
.copyright_text p a{
    font-size: 12px;
    font-family:"微软雅黑";
    color: #999999;
}
.a_link{
    margin-top: 10px;
    text-align: center;
}
.a_link a{
    display: inline-block;
    width: 103px;
    height: 32px;
    background: url("../img/ico_footer.png") no-repeat 0 -151px;
    margin:0 3px;
    /*line-height:1000px;*/
}
.a_link a:nth-child(2){
    background-position: -104px -151px;
}
.a_link a:nth-child(3){
    background-position: 0px -184px;
}
.a_link a:nth-child(4){
    background-position: -104 -184px;
}
.a_link a:nth-child(5){
    background-position: 0px -217px;
}
.a_link a:nth-child(6){
    background-position: -104px -217px;
}